table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 32px;

  color: #000000;
}

th,
td {
  padding: 15px;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #fffaff;
}

.table-block {
  max-width: 900px;
  margin: auto;
  margin-bottom: 100px;
}

.header {
  text-align: center;
  margin-top: 100px;
}

.h1 {
  font-size: 36px;
}

.photo {
  max-width: 100px;
  border-radius: 50%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.nutshell {
  max-width: 100px;
  margin-bottom: 24px;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;

  color: #000000;
  border-bottom: 2px solid;
  border-color: #441151;
}

a:focus {
  background: #441151;
  color: #fffaff;
}

a:hover {
  background: #441151;
  color: #fffaff;
}

.footer {
  height: 48px;
  background-color: #441151;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: #fffaff;
  font-size: 14px;
}
